*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 1rem;
}

.header{
    background: black;
    display: flex;
    height: 7.5rem;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.headerTitle{
    color: white;
    text-transform: uppercase;
    font-size: 400%;
    font-weight: 400;
}

.headerButton{
    text-transform: uppercase;
    background: transparent;
    color: white;
    border: none;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.headerButton:hover{
    cursor: pointer;
}

.mainNavigation{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;  
    display: flex; 
    justify-content: center;
    align-items: center;
    visibility: hidden;
    /*extra for animation*/
    opacity: 0;
    transition: 0.4s all;
}

.mainNavigationList{
    list-style: none;
}

.mainNavigationListItem{
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.mainNavigationListItem > a{
    text-decoration: none;
    color: white;
}

.Bigfigure{
    width: 100%;
    height: 90vh;
}
.Bigfigure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: left;
}


.collections{
    width: 100%;
    padding: 40px;
}

.collectionsTitle , .infoTitle{
    font-size: 3.5rem;
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 40px;
}

.collectionsList{
    list-style: none;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.collectionsListItem{
    width: 31.25rem;
    height: 43.75rem;
    background: black;
    flex-shrink: 1;
    flex-grow: 1;
}

.collectionsListItem > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info{
    padding: 40px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.block{
    width: 25rem;
    flex-shrink: 1;
    flex-grow: 1;
}

.footer{
    height: 7.5rem;
    background: black;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.footerNavigation{
    list-style: none;
}

.footerNavigationItem{
    font-size: 0.8rem;
    font-style: italic;
}

.footerNavigationItem > a{
    color: white;
    text-decoration: none;
}

.footer > address{
    font-size: 0.8rem;
}



form{
    width: 100%;
    /* min-height: 10rem; */
    background: #393E46;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 4rem;
    font-size: 1.5rem;
    gap: 2rem;
  
}

form label{
    border-bottom: 2px solid #00ADB5;
}

form div{

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input{
    display: block;
    width: 30ch;
    padding: 1rem 2rem;
    font-size: 1rem;
    border: 1px solid black;
    height: 1rem;
    background: #EEEEEE;
}
textarea{
    height: 15ch;    
    width: 50vw;
    font-size: 1rem;
    font-family: sans-serif;
    padding: 1rem 2rem;
    resize: none;
}

.submit{
    background: #00ADB5;
    color: #EEEEEE;
    font-size: 1rem;
    height: 2rem;
    border: none;
}
.submit:hover{
    cursor: pointer;
}

@media screen and (max-width:43.75rem) {
    body{
        font-size: 0.875rem;
    }

    .headerTitle{
        font-size: 3.8rem;
    }
    .collectionsTitle , .infoTitle{
        font-size: 3rem;
    }
}